# OpenSSL configuration file.

config_diagnostics = 1
openssl_conf = openssl_init

####################################################################
[ ca ]
default_ca = CA_default # The default ca section
####################################################################
[ CA_default ]
dir             = /opt/ca-crate     # Where everything is kept
certs           = $dir/certs        # Where the issued certs are kept
new_certs_dir   = $dir/newcerts     # default place for new certs.
database        = $dir/index.txt    # database index file.
serial          = $dir/serial       # The current serial number

# Extensions to add to a CRL. Note: Netscape communicator chokes on V2 CRLs
# so this is commented out by default to leave a V1 CRL.
# crlnumber must also be commented out to leave a V1 CRL.

crl_dir             = $dir/crl              # Where the issued crl are kept
crlnumber           = $crl_dir/crlnumber    # the current crl number
crl                 = $crl_dir/crl.pem      # The current CRL
crl_extensions      = crl_ext
default_crl_days    = 30

# rootCA key & pem
rootCA_dir = /opt/ca-crate/rootCA
private_key = $rootCA_dir/rootCA.key # The private key
certificate = $rootCA_dir/rootCA.pem # The CA certificate


# Comment out the following two lines for the "traditional"
# (and highly broken) format.
default_md      = sha256
name_opt        = ca_default        # Subject Name options
cert_opt        = ca_default        # Certificate field options
default_days    = 365
preserve        = no
policy          = policy_root

# For the CA policy
[ policy_root ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

####################################################################
[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
string_mask         = utf8only
default_md          = sha256
x509_extensions     = v3_rootCA # The extensions to add to the self signed cert

[ req_distinguished_name ]
countryName             = Country Name (2 letter code)
stateOrProvinceName     = State or Province Name (full name)
localityName            = Locality Name (eg, city)
0.organizationName      = Organization Name (eg, company)
organizationalUnitName  = Organizational Unit Name (eg, section)
commonName              = Common Name (e.g. server FQDN or YOUR name)
emailAddress            = Email Address

[v3_rootCA]
basicConstraints        = critical, CA:TRUE, pathlen:0
keyUsage                = critical, digitalSignature, cRLSign, keyCertSign
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer

[ user_certificate ]
basicConstraints        = CA:FALSE
keyUsage                = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage        = clientAuth, emailProtection
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer
nsCertType              = client, email
nsComment               = "Client Certificate Generated by CA-CRATE"

[ server_certificate ]
basicConstraints        = CA:FALSE
keyUsage                = critical, digitalSignature, keyEncipherment
extendedKeyUsage        = serverAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer:always
nsCertType              = server
nsComment               = "Server Certificate Generated by CA-CRATE"

[ crl_ext ]
authorityKeyIdentifier = keyid:always
